body{
    background-color: #ebebeb;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
    letter-spacing: .5px;
}
.page-wrapper{
    display:flex;
    justify-content: space-evenly;
    max-width: 1500px;
    /* height: 100vh; */
    padding:50px;
    flex-wrap: wrap;
}
.side1{
    display:flex;
    flex-direction: column;
    background-color: #d7ccfb;
    width:30%;
    border-radius: 10px;
    margin: 1.5% 0 10% 0;
}
.wrapper{
    display:flex;
    flex-direction: column;
    margin-bottom: 10%;
    margin-top: 30px;
}
.wrapper2{
    display:flex;
    flex-direction: column;
    margin-bottom: 0.5%;
    margin-top: 15px;
}
.profile-pic,.h2-side1,.h1-side1{
    margin: 2.5% auto;
}
.wrapper-1{
    background-color: white;
    width:fit-content;
    border-radius: 10px;
    margin: 0 auto;
    padding:5% 3% 5% 2%;
    margin-bottom: 10%;
}
.side2{
    width:60%;
}
.profile-pic{
    width:150px;
    height:200px;
    border-radius:5px;
    /* margin-left:50px;
    margin-top:15px;
    margin-bottom:15px; */
}


#frontend{
    text-align: center;
}

h1{
    margin-bottom:5px;
    font-size:30px;
}

li{
    list-style: none;
}
p{
    line-height: 1.8em;
    font-size:15px;
    color:#56545d;
}
.card1{
    background-color: white;
    padding:20px;
    margin-bottom: 10px;
    border-radius: 8px;
}
.card2{
    background-color: white;
    padding:20px;
    margin-bottom: 10px;
    border-radius: 8px;
}
a{
    font-size:14px;
    color:#4125c0;
}


.fa-solid{
    color:black;
    vertical-align: middle;
    margin:10px;
}
.fa-brands {
    margin-top:20px;
    margin-left:45px;
}
/* span{
    margin-left:15px;
} */
.list{
    background-color: rgb(151, 149, 149);
    display:inline-block;
    padding-left:10px;
    padding-right:10px;
    padding-top:8px;
    padding-bottom:8px;
    border-radius: 5px;
    margin:10px;
}

@media screen and (max-width:1000px){
    /* #frontend{
        color: pink;
    } */
    .wrapper-1{
        font-size: 12px;
    }
}
@media screen and (max-width:800px){
    .page-wrapper{
        /* display: flex; */
        margin-top: 10px;
        flex-direction: column;
        
    }
    .side1, .side2{
        width: 90%;
    }
    .wrapper-1{
        font-size: 18px;
    }

}

